body {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login{
    background: #008f99;
    text-align: right;
    color: aliceblue;
    padding: 2px;
}

.header{
    text-align: center;
    color: #000;
    padding: 2px;
    font-size: 30px;
}

.menu{

}

.content{

}

.button_menu{
    line-height: 40px;
    height: 40px;
    padding: 0px 10px 0px 10px;
    vertical-align: baseline;
    width: auto;
    color: #fff;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    text-decoration: none;
    background: rgb(0,143,153);
    border: 0;
    border-radius: 0;
    font-size: 14px;
    font-weight: normal;
    outline: none;
}



table{
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid black;
    padding: 8px;
}